@import "tailwindcss";

:root {
  --theme-primary: #2b64b0;
  --theme-secondary: #1e90ff;
  --theme-alt: #4f46e5;
  --sun: #f6df35;
}

body.light-theme {
  --bg-primary: #fafaf9;
  --bg-secondary: #f5f5f4;
  --bg-tertiary: #e7e5e4;

  --text-primary: #0c0a09;
  --text-secondary: #44403c;
  --text-tertiary: #57534e;

  --border-primary: #d6d3d1;
  --border-secondary: #e7e5e4;
}

body.dark-theme {
  --bg-primary: #0c0a09;
  --bg-secondary: #44403c;
  --bg-tertiary: #57534e;

  --text-primary: #fafaf9;
  --text-secondary: #f5f5f4;
  --text-tertiary: #e7e5e4;

  --border-primary: #292524;
  --border-secondary: #1c1917;
}

.bg-main {
  background-color: var(--bg-primary);
}
.bg-secondary {
  background-color: var(--bg-secondary);
}
.bg-tertiary {
  background-color: var(--bg-tertiary);
}

.text-main {
  color: var(--text-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-tertiary {
  color: var(--text-tertiary);
}

.border-main {
  border-color: var(--border-primary);
}
.border-secondary {
  border-color: var(--border-secondary);
}

.theme-primary {
  background: var(--theme-primary);
}

.theme-secondary {
  background: var(--theme-secondary);
}

.theme-alt {
  background: var(--theme-alt);
}
