@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  /* font-family: "EB Garamond", serif; */
  font-family: "IBM Plex Mono", monospace;
}

html,
#root,
#wrapper {
  max-height: 100vh;
  height: 100%;
  max-width: 100vw;
}

body {
  height: 100%;
  background: var(--bg-primary);
  color: var(--text-primary);
}

Link {
  color: var(--text-primary);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  min-height: 70px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  z-index: 12;
  /* box-shadow: 1px 1px 20px var(--text-tertiary); */
}

.logo-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  z-index: 100;
  position: relative;
}

.icon-span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-icon {
  font-size: 3.4rem;
}

.icon-text {
  display: none;
}

.main {
  padding: 0 0.8rem;
}

.btn {
  padding: 5px 15px;
}

.theme-btn {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  min-width: 49px;
  border-radius: 100px;
  background-color: var(--bg-secondary);
  padding: 4px;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.theme-indicator {
  position: relative;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  box-shadow: inset 9px -6px var(--text-primary);
  transition: 0.2s ease-in-out;
}

.theme-indicator.light {
  left: 20px;
  border-radius: 100%;
  box-shadow: inset 20px 0px var(--sun);
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 45px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  padding: 0 14px;
  transition: background-color 0.3s;
  will-change: transform;
  overflow: auto;
  z-index: 100;
}

.menu-btn span {
  display: block;
  height: 3px;
  background-color: var(--text-primary);
  max-width: 40px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  /* top: 50%; */
  transition: background-color 0.3s;
  will-change: transform;
}

.menu-btn:hover span {
  background-color: var(--text-primary);
}

.nav.opened .menu-btn {
  color: var(--text-tertiary);
}

.menu-btn.open span {
  position: absolute;
  background-color: var(--bg-tertiary);
}

.menu-btn.open:hover span {
  background-color: var(--bg-primary);
}

.menu-btn .first {
  transform: translateY(-5px);
}

.menu-btn .second {
  transform: translateY(5px);
}

.menu-btn.open span.first {
  animation: menuOpenH 0.6s ease forwards;
}

.menu-btn.close span.first {
  animation: menuCloseH 0.6s ease forwards;
}

.menu-btn.open span.second {
  animation: menuOpenL 0.6s ease forwards;
}

.menu-btn.close span.second {
  animation: menuCloseL 0.6s ease forwards;
}

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-primary);
  transform: translateY(-100vh);
  transition: 0.5s ease-in-out;
}

.nav-mobile.opened {
  transform: translateY(0);
  opacity: 1;
}

.nav-mobile .nav-ul {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-mobile .nav-li-a {
  color: var(--bg-primary);
  font-size: 3rem;
}

.hero {
  min-height: 100vh;
}

.nav-desktop {
}

.nav-desktop .nav-ul {
  border-top: 1px solid var(--text-primary);
  border-bottom: 1px solid var(--text-primary);
  position: sticky;
  top: 70px;
}

.about {
  min-height: 100vh;
}
